body
{
    color: white;
    background: #181407;
}

figure
{
    margin: 5px 10px;
    width: 56px;
    height: 56px;
    position: absolute;
}

input
{
    border: 1px solid black;
    height: 2.5em;
    border-radius: 5px;
    width: 1000px;
}

p
{
    white-space: normal;
    overflow: auto;
}

img{
    height: 56px;
    width: 56px;
}

#todo
{
    border-bottom: solid 1px #6E6E6E;
}

.row
{
    margin: 70px auto;
    display: block;
}

#insert
{
    margin: 40px 125px 0  125px;
}

#chatbox
{    
    border-style: solid ;
    background: #2E2E2E;
    border-radius: 30px;
    margin: 20px auto;
    width: 80%;
}

#container
{   
    display: inline-flex;
    margin: 5px 0 0 0;
    width: 100%;
}

#message-input
{
    background: #515458;
    border: 10px solid rgba(255,255,255,0.3);
    font-size: 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
    padding-bottom: 30px;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#user-image
{
    border: 3px dashed #BDBDBD;
    border-radius: 35px;
}

#user-message
{
    margin: 10px 0  0 76px;
    white-space: normal;
}

#user-comment-time
{
    position: relative;
    text-align: right;
    color: #BDBDBD;
}

.insert
{
    color: white;
    padding: 0 0 10px 0;
}
